docs/spec/sd7Hooks.dtd

<!--

    sd7 Project Configuration Document Type Definition
    Copyright (C) 2008 Alberto Montañola Lacort
    Licensed under the GNU GPL. For full terms see the file COPYING.

    Id: $Id$

-->

<!ELEMENT sd7hooks (controller)+>

<!ELEMENT controller (param)*>
<!ATTLIST controller
	name CDATA #REQUIRED
    bind CDATA #REQUIRED
    autostart CDATA #IMPLIED>

<!ELEMENT param (#PCDATA)>
<!ATTLIST param
	name CDATA #REQUIRED>
